body {
    font-family: "SF Pro Text";
    background-color: #000;
    color: #fff;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #282830;
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 5px;
}
button {
    width: 100px;
    height: 60px;
    font-size: 100%;
    border-radius: 5px;
    background-image: linear-gradient(to left, #CC44FF, #ff00ff);
    border: none;
    transition: 0.8s ease-in-out;
}
button:hover {
    transform: translate(2px);
    cursor: pointer;
}
ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    overflow-wrap: break-word;
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
    background-color: #282830;
    font-size: 30px;
    border-radius: 5px;
    margin-top: none;
    padding: 5px;

}

li::marker{
    content: none;
}
li::after {
    content: ",";
}
li:last-of-type::after {
    content: ".";
}